@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwN4rWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url(https://fonts.gstatic.com/s/vollkorn/v10/0yb9GDoxxrvAnPhYGxkpaE0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Yesteryear';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Yesteryear'), local('Yesteryear-Regular'), url(https://fonts.gstatic.com/s/yesteryear/v8/dg4g_p78rroaKl8kRKo1n7sNTg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$white: #ffffff;
$dark: #141723;
$dark-two: #151824;
$medium-grey: #83837b;
$warm-grey: #808080;
$taupe: #bf9e7b;
$black: #000000;
$taupe-two: #be9d7a;
$white-two: #fefefe;
$very-light-pink: #fffefe;

%font-stack-yesteryear {
  font-family: 'Yesteryear', 'Script MT bold', serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
%font-stack-raleway {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
%font-stack-vollkorn {
  font-family: 'Vollkorn', serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

// Headings 
$f1: 56px;
$f2: 37px;
$f3: 34px;
$f4: 25px;
$f5: 20px;
$f6: 15px;
$f7: 13px;

// line-heights
$lh-solid: 1;
$lh-title: 1.67;
$lh-copy: 1.92;
$lh-about: 2.4;