@import 'variables.scss'; 

.fm-yesteryear { @extend %font-stack-yesteryear; }
.fm-raleway    { @extend %font-stack-raleway; }
.fm-vollkorn   { @extend %font-stack-vollkorn; }
.f1 { font-size: 56px; }
.f2 { font-size: 37px; }
.f3 { font-size: 34px; }
.f4 { font-size: 25px; }
.f5 { font-size: 20px; }
.f6 { font-size: 15px; }
.f7 { font-size: 13px; }
.lh-title  { line-height: 1.67; }
.lh-solid  { line-height: 1; }
.lh-copy   { line-height: 1.92; }
.lh-about  { line-height: 2.4; }
.taupe { color: $taupe; }
.white { color: $white; }
.warm-gray { color: $warm-grey; }

.justify-evenly { justify-content: space-evenly; } 

.mt100 { margin-top: 100px; }
.mt50  { margin-top: 50px; }
.mt20  { margin-top: 20px; }
.mb100 { margin-bottom: 100px; }
.mb75  { margin-bottom: 75px; }
.mb50  { margin-bottom: 50px; }
.mb40  { margin-bottom: 40px; }
.mb30  { margin-bottom: 30px; }
.mb20  { margin-bottom: 20px; }
.mb10  { margin-bottom: 10px; }
.mb5   { margin-bottom: 5px; }

.bg-dark { background-color: $dark; }
.bg-white { background-color: $white; }
.bg-taupe-two {background-color: $taupe-two; }

.no-repeat { background-repeat: no-repeat!important; }

.z-0  { z-index: 0; }
.z-10 { z-index: 10; }

.hidden { display: none!important; }